body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #180a39;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background: #f4f4f4;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 2.5rem;
    color: #6a37e3; /* Синий */
}

.hero-content p {
    font-size: 1.2rem;
    color: #333; /* Темно-серый */
    margin: 20px 0;
}

.hero-content h1 i {
    margin-right: 10px;
    color: #FFA500; /* Оранжевый */
}

.cta-button {
    background: #6a37e3; /* Синий */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease;
}

.cta-button:hover {
    background: #d803bc; /* Оранжевый при наведении */
    transform: scale(1.1);
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px #4e020269;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background: white;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature i {
    font-size: 3.5rem;
    color: #5f26d0; 
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    color: #666;
}